<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tkany.by" parallel="tests" thread-count="1">
    <test name="Tests">
        <classes>
            <class name="by.tkany.tests.NavMenuCollapseTest"/>
            <class name="by.tkany.tests.NavMenuLinksTest"/>
            <class name="by.tkany.tests.FloatingMenuTest"/>
            <class name="by.tkany.tests.BackToTopTest"/>
            <class name="by.tkany.tests.UserLoginTest"/>
            <class name="by.tkany.tests.UserPageMenuTest"/>
            <class name="by.tkany.tests.UserUnloginTest"/>
            <class name="by.tkany.tests.ProductSearchTest"/>
            <class name="by.tkany.tests.CallbackFormTest"/>
            <class name="by.tkany.tests.CatalogueMenuLinksTest"/>
            <class name="by.tkany.tests.CatalogueSubMenuTest"/>
            <class name="by.tkany.tests.CatalogueContainersTest"/>
            <class name="by.tkany.tests.CatalogueFilterTest"/>
            <class name="by.tkany.tests.FastViewTest"/>
            <class name="by.tkany.tests.ProductPageContainersTest"/>
            <class name="by.tkany.tests.ProductFastOrderTest"/>
            <class name="by.tkany.tests.ProductAddToCartTest"/>
            <class name="by.tkany.tests.OrderFillTest"/>
        </classes>
    </test>
</suite>